@import "tailwindcss";

body {
  background-color: var(--hitam);
}

:root {
  --kuning1: #F4E5C0;
  --kuning2: #C7B996;
  --coklat: #AA9766;
  --hitam: #1C1C1C;
  --abu: #888888;
  --putih: #ffffff;
  --biru1: #292F40;
  --biru2: #7E8CB2;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.216);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
